@{
  Layout = "_Layout";
}

<h1>Add a new Order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Title of Order</label>
  <input id="orderTitle" name="orderTitle" type="text">
  <label for="orderDescription">Description of Order</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <label for="orderDate">Date of Order</label>
  <input id="orderDate" name="orderDate" type="text">
  <label for="orderPrice">Price of Order</label>
  <input id="orderPrice" name="orderPrice" type="text">
  <button type='submit'>Add Order</button>
</form>



<a href='/orders'>View all orders</a>