@{
  Layout = "_Layout";
}
<h1> Order Details: </h1>

<h2>@Model["order"].Title</h2>
<h3>Artist: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/vendors/new'>Add another vendor</a>
<a href='/vendors'>View all Artists</a>