@using Pierre.Models;
@{
  Layout = "_Layout";
}

  <h1>Pierres Bakery </h1>
  <h4>Welcome back Pierre!</h4>

<h1 class="jumbotron">VENDORS</h1>

@if (@Model.Count == 0)
{
  <h3>No vendors have been added yet!</h3>
} 
<ul>
@foreach (Vendor vendor in Model)
{
  <li><a href='/vendors/@vendor.Id'class="btn btn-primary">@vendor.Name</a></li>
}
</ul>
<a href='/vendors/new'class="btn btn-primary">Add a new vendor</a>

