@{
  Layout = "_Layout";
}
<form action="/vendors" method="post">
  <label for="Name">Name of Business</label>
  <input id="Name" name="Name" type="text">
  <button type='submit'>Add Vendor</button>
</form>
<h1>Hello I am a form for creatting a vendor</h1>