@{
  Layout = "_Layout";
}
<form action="/vendors" method="post">
  <label for="vendorName">Name of Business</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Description of Business</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type='submit'>Add Vendor</button>
</form>
<h1>Hello I am a form for creatting a vendor</h1>
<p><a href="/"class="btn btn-primary">Back home</a></p>
<p><a href="/vendors"class="btn btn-primary">Back to vendors.</a></p>