@{
  Layout = "_Layout";
}
<h1>Vendor Search</h1>
<form action="/vendors/search" method="post">
  <label for="vendor">Vendors name</label>
  <input id="vendor" name="vendor" type="text">
  <button type="submit">Search</button>
</form>