@{
  Layout = "_Layout";
}
<h1>Hello ill show you created vendors</h1>
<h1>order Details: </h1>


<h3>Title: @Model.Title</h3>

<a href='/vendors/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>